.bg-1 {
    overflow: hidden;
    z-index: -2;
    position: absolute;
    top:20px;
}

.development-aim {
    width:100%;
    height: 30em;
    margin:35em 0 10em 0 !important;
    padding: 2em;
    margin:5em;
    overflow: visible;
    position: relative;
}