.bg-1 {
    overflow: hidden;
    z-index: -2;
    position: absolute;
    top:20px;
}

.development-aim {
    width:100%;
    height: 30em;
    margin:35em 0 10em 0 !important;
    padding: 2em;
    margin:5em;
    overflow: visible;
    position: relative;
}

.section-main-page {
    position: auto;
    overflow: hidden;
    display: block;
    }

@media only screen and (max-width:430px) {
    .section-main-page {
    height:140em;
    }
}

@media only screen and (min-width:430px) {
    .section-main-page {
    height:130em;
    }
}


@media only screen and (min-width:680px) {
    .section-main-page {
    height:100em;
    }
}

@media only screen and (min-width:900px) {
    .section-main-page {
    height:100em;
    }
}

@media only screen and (min-width:1200px) {
    .section-main-page {
    height:85em;
    }
}