.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.nav-bar-site-logo {
  width:60px;
  height:60px;
  cursor: pointer;
}

.nav-bar-site-text {
  overflow: hidden;
  font-weight: 600;
  letter-spacing: 10px;
  margin:10px 10px auto 10px;
  vertical-align: middle;
}