<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Features</title>
    <link rel="icon" href="./images/yellow-logo@2x.png">

    <!-- CSS  -->
    <link rel="stylesheet" href="styles/custom.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
</head>

<body class="grey lighten-2">
    <nav class="orange darken-1" role="navigation">
        <div class="nav-wrapper container">
            <img src="./images/svg/white-logo.svg" alt="s" class="nav-bar-site-logo hide-on-med-and-down">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a id="logo-container" href="https:www.netdevv.com" class="brand-logo" style="width: 220px;">
                <h4 class="split-it nav-bar-site-text" data-splitting>NETDEVV</h4>
            </a>
            <!-- <ul class="tabs tabs-transparent">  -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/features.html">Features</a></li>
            </ul>
    
    
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/features.html">Features</a></li>
        <li style="position: absolute;bottom:50px;width:250px;">
            <div class="footer-copyright">
                <div class="container center footer-made-by">
                    <p>Made with <i class="fas fa-heart" style="color:red;"></i> by <a href="http://www.netdevv.com">NETDEVV</a></p>
                </div>
            </div>
        </li>
    </ul>

    <div class="row no-pad-bot bg-design-1" id="index-banner">
        <div class="bg-1 col s12 m12 l12 xl12 left">
            <img src="./images/svg/undraw_empty_xct9.svg" alt="SVG">
        </div>
        <div class="col s12 m12 l12 xl12 center">
            <div class="row center">
                <p class=" col s12 center h1 mt-1 mb-0 purple-text">FEATURES</p>
            </div>
            <div class="row">
                <div class="col s6 right-align">
                    <a href="https://materializecss.com/" target="_blank" class="waves-effect waves-light btn-large orange z-depth-5">
                        Material Design
                    </a>
                </div>
                <div class="col s6 left-align">
                    <a href="https://github.com/smitpatelx/netdevv-dist" target="_blank" class="waves-effect waves-light btn-large purple z-depth-5">
                        Get Started
                    </a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="fea" style="margin:15em 25vw 10em 25vw;text-align: center;">
            <div class="">
                <!--   Icon Section   -->
                <div class="">
                    <ul class=" center h5 fearures-list">
                        <li class="col fearures-list-item wiggle-it" data-splitting>Smoot Workflow</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>Fully Customizable</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>GULP task manager</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>Browser Sync Support</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>SASS compiler</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>JS and SASS minifier</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>WATCH mode inbuild</li>
                        <li class="col fearures-list-item wiggle-it" data-splitting>Inbuild Frameworks and Libraries
                            <ul class="child-list h6">
                                <li><i class="fas fa-ellipsis-h"></i></li>
                                <li>Materialize</li>
                                <li>Bootstrap</li>
                                <li>Foundation</li>
                                <li>Jquery</li>
                                <li>Splitting JS</li>
                                <li>Parallax JS</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" style="height:40em;">
            <p class="h3 center red-text" style="font-weight:600;">Splitting JS DEMO</p>
            <p data-height="350" data-theme-id="0" data-slug-hash="mGEyqJ" data-default-tab="css,result" data-user="smitpatelx" data-pen-title="Splitting.js: CSS vars for split words & chars "
                class="codepen">See the Pen <a href="https://codepen.io/smitpatelx/pen/mGEyqJ/">Splitting.js: CSS vars for split words &
                    chars </a> by smit (<a href="https://codepen.io/smitpatelx">@smitpatelx</a>) on <a href="https://codepen.io">CodePen</a>.</p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
        </div>
    </div>
    
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 center">
                    <h4 class="white-text">DISCLAMER</h4>
                    <p class="grey-text text-lighten-4 hp">This project is only created for the purpose of maintaining the integrity
                        power of workflow. This project can be used for commercial and personal usage. Future release will increase
                        the functionality and power of this KIT.  Any amount would help support and continue development on this project and is greatly appreciated.
                    </p>
                </div>
                <div class="col l3 s12 center">
                    <h4 class="white-text ">Services</h4>
                    <ul>
                        <li><a class="white-text shift-right" href="https://www.netdevv.com" target="_blank" data-splitting>SEO</a></li>
                        <li><a class="white-text shift-right" href="https://www.netdevv.com" target="_blank" data-splitting>WEB
                                DESIGNING</a></li>
                        <li><a class="white-text shift-right" href="https://www.netdevv.com" target="_blank" data-splitting>ILLUSTRATOR</a></li>
                        <li><a class="white-text shift-right" href="https://www.netdevv.com" target="_blank" data-splitting>LOGO
                                DESIGNING</a></li>
                    </ul>
                </div>
                <div class="col l3 s12 center">
                    <ul>
                        <li style="display:inline-block;margin:10px 10px;"><a class="white-text pull-in" href="https://github.com/smitpatelx"
                                target="_blank" data-splitting><i class="fab fa-github fa-3x"></i></a></li>
                        <li style="display:inline-block;margin:10px 10px;"><a class="white-text pull-in" href="https://www.facebook.com/Matrix-Literacy-792085714315406/?modal=admin_todo_tour"
                                target="_blank" data-splitting><i class="fab fa-facebook-f fa-3x"></i></a></li>
                        <li style="display:inline-block;margin:10px 10px;"><a class="white-text pull-in" href="https://www.behance.net/smitbpateld275"
                                target="_blank" data-splitting><i class="fab fa-behance-square fa-3x"></i></a></li>
                        <li style="display:inline-block;margin:10px 10px;"><a class="white-text pull-in" href="https://www.netdevv.com"
                                target="_blank" data-splitting><i class="fas fa-globe-asia fa-spin fa-3x"></i></a></li>
                    </ul>
                    <ul class="row">
                        <li class="col s12 center">
                            <a href="https://paypal.me/smitpatelx" target="_blank" class="support-project">
                                <i class="fas fa-hand-holding-usd fa-2x"><span>DONATE</span></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center footer-made-by">
                Made with <i class="fas fa-heart" style="color:red;"></i> by <a href="http://www.netdevv.com">NETDEVV</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="./scripts/main.js"></script>
    <script src="./scripts/custom.js"></script>

    <!-- <script src="js/materialize.js"></script>
    <script src="js/init.js"></script> -->

</body>

</html>